* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    background-color: #2C3E50; 
}

header {
    padding: 15px;
    background-color: #E67E22; 
    color: white;
    grid-column: 1 / 4;
    text-align: center;
}

aside#aside-left {
    grid-column: 1 / 2;
    padding: 15px;
    background-color: #34495E; 
    color: white;
}

aside#aside-right {
    grid-column: 3 / 4;
    padding: 15px;
    background-color: #34495E; 
    color: white;
}

main {
    grid-column: 2 / 3;
    padding: 15px;
    background-color: #8B5E3C; 
    color: white;
}

footer {
    grid-column: 1 / 4;
    padding: 15px;
    background-color: #E67E22; 
    color: white;
    text-align: center;
}
